ul {
	list-style: none;
}


/* 
	LEVEL ONE
*/
ul.dropdown {
	position: relative;
}
ul.dropdown li.top a{
	text-decoration: none;
}
ul.dropdown li.top {
	background: url(../images/menu/button-01.png) no-repeat;
	color: white;
	cursor: pointer;
	text-align: center;
	float: left;
	height: 70px;
	width: 135px;
	font-size: 20px;
	font-weight: bold;
	float: left;
}

ul.dropdown li {
	color: white;
	cursor: pointer;
	text-align: center;
	float: left;
	height: 30px;
	font-size: 16px;
}

ul.dropdown a:hover {
	color: white;
}

ul.dropdown a:active {
	color: #ffa500;
}

ul.dropdown li a {
	display: block;
	padding: 4px 8px;
	color: white;
}

ul.dropdown li:last-child a {
	border-right: none;
}  /* Doesn't work in IE */
ul.dropdown li.top.hover,
ul.dropdown li:hover {
	color: black;
	position: relative;
}

ul.dropdown li.hover a {
	color: white;
}

/* 
	LEVEL TWO
*/
ul.dropdown ul {
	width: 120px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
}

ul.dropdown ul li {
	font-weight: normal;
	background: #007cc3;
	opacity:0.7;
	color: white;
	border-bottom: 1px solid #ccc;
	float: none;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
	color: white;
	border-right: none;
	width: 100%;
	display: inline-block;
}

/* 
	LEVEL THREE
*/
ul.dropdown ul ul {
	left: 100%;
	top: 0;
}

ul.dropdown li:hover>ul {
	visibility: visible;
}